apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: outline
    namespace: outline
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: outline
            version: 18.1.4
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
      credentials:
        minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-outline"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
      ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: outline.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      cnpg:
        main:
          cluster:
            singleNode: true
            instances: 1
          backups:
            credentials: minio
            scheduledBackups:
              - name: daily-backup
                schedule: "0 5 0 * * *"
                backupOwnerReference: self
                immediate: true
                suspend: false
          recovery:
            method: object_store
            credentials: minio
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  URL: "https://outline.${DOMAIN_0}"
                  DEFAULT_LANGUAGE: "fr_FR"
                  OIDC_CLIENT_ID: ${OIDC_OT_CLIENT_ID}
                  OIDC_CLIENT_SECRET: ${OIDC_OT_CLIENT_SECRET}
                  OIDC_AUTH_URI: "https://portal.${DOMAIN_0}/application/o/authorize/"
                  OIDC_TOKEN_URI: "https://portal.${DOMAIN_0}/application/o/token/"
                  OIDC_USERINFO_URI: "https://portal.${DOMAIN_0}/application/o/userinfo/"
                  OIDC_LOGOUT_URI: "https://portal.${DOMAIN_0}/application/o/outline/end-session"
                  OIDC_USERNAME_CLAIM: "preferred_username"
                  OIDC_DISPLAY_NAME: "Brioche-Portal"
                  OIDC_SCOPES: "openid profile email"