apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: outline
    namespace: outline
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: outline
            version: 18.1.4
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
      credentials:
        minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-outline"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
      ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: wiki1.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      cnpg:
        main:
          cluster:
            singleNode: true
            instances: 1
          backups:
            credentials: minio
            scheduledBackups:
              - name: daily-backup
                schedule: "0 5 0 * * *"
                backupOwnerReference: self
                immediate: true
                suspend: false
          recovery:
            method: object_store
            credentials: minio
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  FORCE_HTTPS: false
                  PGSSLMODE: "disable"
                  PORT: "10196"
                  URL: "https://wiki1.${DOMAIN_0}"
                  SLACK_MESSAGE_ACTIONS: true
                  ENABLE_UPDATES: true
                  WEB_CONCURRENCY: 1
                  MAXIMUM_IMPORT_SIZE: 5120000
                  DEFAULT_LANGUAGE: "fr_FR"
                  FILE_STORAGE: ""
                  FILE_STORAGE_UPLOAD_MAX_SIZE: ""
                  # Critical database and Redis connections
                  DATABASE_URL:
                    secretKeyRef:
                      name: outline-cnpg-main-urls
                      key: std
                  REDIS_URL:
                    secretKeyRef:
                      name: outline-rediscreds
                      key: url
                  SECRET_KEY:
                    secretKeyRef:
                      name: outline-secrets
                      key: SECRET_KEY
                  UTILS_SECRET:
                    secretKeyRef:
                      name: outline-secrets
                      key: UTILS_SECRET
                  # OIDC_CLIENT_ID: ""
                  # OIDC_CLIENT_SECRET: ""
                  # OIDC_AUTH_URI: ""
                  # OIDC_TOKEN_URI: ""
                  # OIDC_USERINFO_URI: ""
                  # OIDC_USERNAME_CLAIM: ""
                  # OIDC_DISPLAY_NAME: ""
                  # OIDC_SCOPES: ""