apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: ollama
    namespace: ollama
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: ollama
            version: 8.21.5
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    timeout: 20m
    values:
      credentials:
        minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-ollama"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
      ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: chat.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      # persistence:
      #   config:
      #     volsync:
      #     - name: config
      #       type: restic
      #       credentials: minio
      #       dest:
      #         enabled: true
      #       src:
      #         enabled: true
      #         trigger:
      #           schedule: 10 1 * * *
      workload:
        main:
          podSpec:
            runtimeClassName: "nvidia"
            containers:
              main:
                resources:
                  limits:
                    nvidia.com/gpu: 1
                env:
                  OLLAMA_CONTEXT_LENGTH: "4096"
        ui:
          podSpec:
            containers:
              ui:
                env:
                  ENABLE_OAUTH_SIGNUP: true
                  ENABLE_LOGIN_FORM: false
                  OAUTH_MERGE_ACCOUNTS_BY_EMAIL: true
                  OAUTH_CLIENT_ID: ${OIDC_AI_CLIENT_ID}
                  OAUTH_CLIENT_SECRET: ${OIDC_AI_CLIENT_SECRET}
                  OAUTH_PROVIDER_NAME: "authentik"
                  OPENID_PROVIDER_URL: "https://portal.${DOMAIN_0}/application/o/brioche-chat/.well-known/openid-configuration"
                  OPENID_REDIRECT_URI: "https://chat.${DOMAIN_0}/oauth/oidc/callback"
                  WEBUI_URL: "https://chat.${DOMAIN_0}"