---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: crafty
    namespace: gaming
spec:
    interval: 5m
    chart:
        spec:
            chart: crafty-4
            version: 10.16.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    timeout: 20m
    values:
      portal:
        open:
          enabled: false
      global:
        stopAll: false
      credentials:
        minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-crafty"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
      ingress:
        main:
          enabled: true
          ingressClassName: internal
          annotations:
            nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
            nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
            nginx.ingress.kubernetes.io/auth-method: 'GET'
            nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
            nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
            nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: crafty.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      # persistence:
      #   config:
      #     volsync:
      #     - name: config
      #       type: restic
      #       credentials: minio
      #       dest:
      #         enabled: true
      #       src:
      #         enabled: true
      #         trigger:
      #           schedule: 30 0 * * *
        backups:
          enabled: true
          type: nfs
          path: ${MINECRAFT_NFS_PATH}
          server: ${NAS_IP}
      service:
        minecraft:
          type: LoadBalancer
          loadBalancerIP: ${crafty_IP}
          ports:
            voice:
              enabled: true
              port: 24454
              protocol: udp
              targetPort: 24454
      metrics:
        main:
          enabled: false