apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  interval: 15m
  chart:
    spec:
      chart: authentik
      version: 33.35.10
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    credentials:
      minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-authelia"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        enabled: true
        ingressClassName: external
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: portal.${DOMAIN_0}
          - host: "*.${DOMAIN_0}"
            paths:
              - path: /outpost.goauthentik.io
                pathType: Prefix
    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          hosts:
          - host: code-portal.${DOMAIN_0}
            paths:
            - path: /
              pathType: Prefix
          integrations:
            certManager:
              certificateIssuer: domain-0-le-prod
              enabled: true
            traefik:
              enabled: false
            nginx:
              enabled: true
              auth:
                type: "authentik"
                internalHost: "authentik-http.authentik.svc.cluster.local:10230"
                externalHost: "portal.${DOMAIN_0}"
                responseHeaders: []
    cnpg:
      main:
        cluster:
          singleNode: true
          instances: 1
        backups:
          enabled: true
          credentials: minio
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
            method: object_store
            credentials: minio
        
    authentik:
      credentials:
        email: ${AUTHENTIK_ADMIN_EMAIL}
        password: ${AUTHENTIK_ADMIN_PASSWORD}
      email:
        host: ${SMTP_HOST}
        port: ${SMTP_PORT}
        username: ${SMTP_USER}
        password: ${SMTP_PASSWORD}
        use_tls: true
        use_ssl: false
        timeout: 10
        from: ${SMTP_USER}