apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: homepage
    namespace: homepage
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: homepage
            version: 11.17.7
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
      global:
        stopAll: false
      credentials:
        minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-homepage"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
      ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
            nginx:
              enabled: true
              auth:
                type: "authentik"
                internalHost: "authentik-http.authentik.svc.cluster.local:10230"
                externalHost: "portal.${DOMAIN_0}"
                responseHeaders: []
          hosts:
            - host: home.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      addons:
        codeserver:
          enabled: true
          ingress:
            enabled: true
            ingressClassName: internal
            hosts:
            - host: code-home.${DOMAIN_0}
              paths:
              - path: /
                pathType: Prefix
            integrations:
              certManager:
                certificateIssuer: domain-0-le-prod
                enabled: true
              traefik:
                enabled: false
              nginx:
                enabled: true
                auth:
                  type: "authentik"
                  internalHost: "authentik-http.authentik.svc.cluster.local:10230"
                  externalHost: "portal.${DOMAIN_0}"
                  responseHeaders: []
      persistence:
        config:
          volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 0 * * *
      workload:
        main:
          podSpec:
            containers:
              main:
                env:
                  HOMEPAGE_ALLOWED_HOSTS: home.${DOMAIN_0}