apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: qbittorrent
    namespace: media
spec:
    interval: 5m
    chart:
        spec:
            # renovate: registryUrl=https://charts.truechartsoci.org
            chart: qbittorrent
            version: 24.0.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
            interval: 5m
    install:
        createNamespace: true
        crds: CreateReplace
        remediation:
            retries: 3
    upgrade:
        crds: CreateReplace
        remediation:
            retries: 3
    values:
      portal:
        open:
          enabled: false
      global:
        stopAll: false
      credentials:
        minio:
          type: s3
          url: "${S3_URL_MINIO}"
          bucket: "${S3_BUCKET}-qbittorrent"
          accessKey: "${S3_ACCESS_KEY}"
          secretKey: "${S3_SECRET_KEY}"
          encrKey: "${S3_ENCRYPTION_KEY}"
      ingress:
        main:
          enabled: true
          ingressClassName: internal
          annotations:
            nginx.ingress.kubernetes.io/auth-method: 'GET'
            nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
            nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
            nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
          hosts:
            - host: qbit.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
      persistence:
        config:
          volsync:
          - name: config
            type: restic
            credentials: minio
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 40 0 * * *
        media:
          enabled: true
          existingClaim: media-nfs-pvc
          mountPath: /Media
      workload:
        qbitportforward:
          enabled: false
      service:
        proxy:
          enabled: true
          ports:
            gluetun:
              enabled: true
              port: 8888
              protocol: "http"
              targetPort: 8888
      addons:
        gluetun:
          enabled: true
          container:
            resources:
              limits:
                truecharts.org/tun: 1
            env:
              VPN_TYPE: wireguard
              VPN_SERVICE_PROVIDER: ${WG_VPN_PROVIDER}
              WIREGUARD_ADDRESSES: ${WG_ADDRESSES}
              WIREGUARD_PRIVATE_KEY: ${WG_PRIVATE_KEY}
              WIREGUARD_PUBLIC_KEY: ${WG_PUBLIC_KEY}
              SERVER_CITIES: ${WG_SERVER_CITIES}
              WIREGUARD_ENDPOINT_IP: ${WG_ENDPOINT_IP}
              WIREGUARD_ENDPOINT_PORT: ${WG_ENDPOINT_PORT}
              HTTPPROXY: "on"
              FIREWALL_INPUT_PORTS: 10095,8888
              FIREWALL: "on"
              FIREWALL_OUTBOUND_SUBNETS: "192.168.1.0/24"